/** @format */
.Projects {
  margin-bottom: 10em;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

.ProjectsContent {
  margin-top: 3em;
  border: 1px solid white;
}

.title {
  text-align: center;
  margin: 3em 0;
}

.ProjectsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5em;
}

.ProjectsBox {
  margin-left: 2em;
  border-radius: 10px;
  box-shadow: 0px 3px 21px 2px rgb(224, 220, 220);
  transition: ease-in-out 0.5s;
}

.ProjectsBox:hover {
  transform: scale(1.1);
}

.ProjectsBox img {
  width: 300px;
}

.ProjectsTitle {
  margin-top: -0.3em;
  font-weight: bold;
  font-size: 1.5em;
}

.button {
  margin: 10px 0;
  display: flex;
}

.buttonContainer {
  text-align: center;
  margin-left: 2.5em;
}

.ProjectsContainer a:hover {
  color: black;
  font-weight: bold;
}
.button a {
  text-decoration: none;
  color: #48485e;
  padding: 10px 20px;
  font-size: 1em;
}
