/** @format */
.Projects {
  margin-bottom: 10em;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin-top: -4em;
}

.ProjectsContent {
  margin-top: 3em;
  border: 1px solid white;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 3em;
  font-weight: bold;
}

.ProjectsContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5em;
}

.ProjectsBox {
  margin-left: 2em;
  border-radius: 10px;
  box-shadow: 0px 3px 21px 2px rgb(224, 220, 220);
  transition: ease-in-out 0.5s;
}

.ProjectsBox:hover {
  transform: scale(1.1);
}

.ProjectsBox img {
  width: 200px;
}

.ProjectsTitle {
  margin-top: -0.3em;
  font-weight: bold;
  font-size: 1.5em;
}

.button {
  margin: 10px 0;
  display: flex;
}

.buttonContainer {
  text-align: center;
  margin-left: 2.5em;
}

.ProjectsContainer a:hover {
  color: black;
  font-weight: bold;
}
.button a {
  text-decoration: none;
  color: #48485e;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .Projects {
    margin-bottom: 4em;
  }
  .ProjectsContainer {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .ProjectsBox img {
    width: 200px;
  }
  .ProjectsBox {
    width: 80%;
    margin: 20px auto;
  }

  .ProjectsTitle {
    font-size: 16px;
  }

  .button a {
    font-size: 12px;
  }
}
