/** @format */

.nav {
  transition: height 5s;
  background: none;
}

.scrolled {
  position: fixed;
  background: rgb(250, 251, 251);
  width: 1100px;
  top: 0;
  z-index: 1000;
  transition: background 3s ease-in-out;
}

.Portfolio {
  width: 1100px;
  margin: auto;
  overflow: hidden;
}

.Portfolio header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 70px;
}

.PortfolioName a {
  text-decoration: none;
  font-size: 3em;
  font-family: "Kaushan Script", cursive;
  letter-spacing: -5px;
}

.portfolioNameOne {
  color: #4458dc;
}
.portfolioNameTwo {
  color: #854fee;
}

nav ul {
  display: flex;
  justify-content: space-around;
  height: 60px;
  line-height: 45px;
  list-style: none;
  font-family: "Roboto Mono", monospace;
}

nav ul li a {
  margin-left: 13px;
  text-decoration: none;
  font-size: 1.6em;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}
.nav ul li a:hover {
  color: #4458dc;
}

.toggle {
  top: -7%;
  right: 2%;
  float: right;
  position: absolute;
  display: none;
}

@media screen and (max-width: 375px) {
  .toggle {
    display: block;
  }

  .Portfolio {
    width: 375px;
    overflow: hidden;
  }
  .Portfolio header {
    display: block;
    width: 100%;
    z-index: -1000;
  }
  .PortfolioName {
    text-align: center;
  }

  /* nav */

  nav ul {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    overflow: hidden;
    margin-top: -4em;
  }

  nav ul li a {
    font-size: 13px;
    margin-left: 1px;
  }

  .navOpen {
    overflow: visible;
    transition: 0.3s all;
    transition-duration: 0.5s;
    margin-left: 0;
  }
}
