/** @format */

.Projects {
  font-family: "Teko", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.title {
  color: #48485e;
  margin: 0 0 3em -2em;
}

.Projects_container {
  margin: 4em 23em;
}

.Projects_box {
  width: 599px;
  background: rgb(233, 232, 232);
}
.Projects_box:hover {
  background: #48485e;

  transition: ease-in-out 0.9s;
}
.Projects_title {
  text-align: left;
  color: gray;
  font-weight: bold;
  padding: 5px 0px 0 45px;
}

.Projects_item {
  text-align: center;
}

.Projects_item a {
  text-decoration: none;
  letter-spacing: 6px;
  color: black;
  font-size: 1em;
}
