/** @format */

.Contact {
  margin-top: 5em;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

.ContactContent {
  margin-top: 10em;
}
.title {
  text-align: center;
}

.titleTwo {
  margin-bottom: 3em;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 2px;
}

.ContactContainer {
  display: flex;
  justify-content: center;
  margin-left: -6em;
  margin-top: 6em;
}

.box {
  margin-left: 3em;
  text-align: center;
  color: black;
}

.text {
  font-size: 1.3em;
  font-weight: bold;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0em auto;
  border-radius: 50%;
  border: 1px solid black;
  line-height: 70px;
  font-size: 2em;
  object-fit: cover;
}
.social {
  margin-left: 21.5em;
  margin-bottom: 5em;
}

h5 {
  text-align: center;
  color: black;
  font-size: 1em;
}
.social a {
  margin-right: 60px;
  font-size: 1.2em;
  transition: ease-in-out 0.3s;
  color: black;
}

.social a:hover {
  color: gray;
}

footer {
  text-align: center;
  margin-bottom: 3em;
}
footer p {
  font-size: 0.8em;
  margin-bottom: -1em;
}

footer p a {
  text-decoration: none;
  font-family: "Kaushan Script", cursive;
}

a span {
  color: black;
}
