/** @format */
.About {
  margin-top: 6em;
}
.About_image img {
  width: 190px;
  height: 190px;
  border: 1px solid gray;
  border-radius: 400px;
  margin-left: 34em;
}

.About_description {
  width: 1000px;
  margin: 0 0 20em 10em;
  font-family: "Teko", sans-serif;
}
.About_description p {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
  line-height: 10px;
}
.About_description p span {
  color: #48485e;
  font-weight: bold;
}
